<%- include("../partials/header") %>
<section id="show-page">
    <div>Title: </div>
    <div><%= foundGame.name %></div>
    <div>Rating: </div>
    <div><%= foundGame.rating %></div>
    <div>Release Date </div>
    <div><%= foundGame.releaseDate.toDateString() %></div>
    <form action="/games/<%= foundGame._id %>?_method=DELETE"
      class="delete-form" method="POST">
      <button type="submit">Delete Game</button>
    </form>
    <a href="/games/<%= foundGame._id %>/edit">Edit Game</a>
  </section>

  <section class="review-form">
    <h1>Reviews</h1>
    <form action="/games/<%= foundGame._id %>/reviews" method="POST">
    <label> Review:
        <input type="text" name="review" required>
    </label>
    <label> Rating:
        <input type="number" name="rating" min="0" max="5" required>
    </label>
    <button type="submit">Submit Review</button>
    </form>
  </section>

  <section>
    <% if (foundGame.reviews.length) {%>
      <table>
        <thead>
            <tr>
            <th>Review</th>
            <th>Rating</th>
            <th>Date</th>
            <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <% foundGame.reviews.forEach(r => { %>
                <tr>
                    <td><%= r.review %></td>
                    <td><%= r.rating %></td>
                    <td><%= r.time.toDateString() %></td>
                    <td><%= r.time.toTimeString() %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <%} else {%>
      <p>No reviews yet</p>
    <% } %>
  </section>
<%- include("../partials/footer") %>