<%- include("../partials/header") %>
<section id="show-page">
    <div>Title: </div>
    <div><%= foundGame.name %></div>
    <div>Rating: </div>
    <div><%= foundGame.rating %></div>
    <div>Release Date </div>
    <div><%= foundGame.releaseDate.toDateString() %></div>
    <form action="/games/<%= foundGame._id %>?_method=DELETE"
      class="delete-form" method="POST">
      <button type="submit">Delete Game</button>
    </form>
  </section>
<%- include("../partials/footer") %>